@using WebApplication1.App.Services

<h1>Practice05</h1>

<h3>代辦清單 @todos.Count(todo => !todo.IsDone) 筆</h3>

<input placeholder="填寫代辦事項..." bind="@newTodo" />
<button onclick="@AddTodo">增加</button>
<button onclick="@DelTodo">清除完成事項</button>
<button onclick="@Reverse">反轉狀態</button>
<button onclick="@Show">顯示狀態</button>
<ul>
    @foreach (var todo in todos.OrderBy(x => x.IsDone))
    {
        <li>
            <input id="@todo.GetHashCode()" type="checkbox" bind="@todo.IsDone"/>
            <input bind="@todo.Title" />
        </li>
    }
</ul>

<h3>完成 @todos.Count(todo => todo.IsDone) 筆</h3>

<ul>
    @foreach (var todo in todos.Where(x => x.IsDone))
    {
        <li>
            <span>@todo.Title</span>
        </li>
    }
</ul>

@functions {
    private IList<TodoItem> todos = new List<TodoItem>() {
    new TodoItem() { Title = "Test1" },
    new TodoItem() { Title = "Test2" },
    new TodoItem() { Title = "Test3" }
};

    private string newTodo;

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }

    private void DelTodo()
    {
        todos = todos.Where(x => !x.IsDone).ToList();
    }

    private void Reverse()
    {
        todos = todos.Select(x => new TodoItem()
        {
            Title = x.Title,
            IsDone = !x.IsDone
        })
        .ToList();
    }

    private async void Show()
    {
        await JSRuntime.Current.InvokeAsync<bool>("console.log", todos);
    }
}